* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.app {
    width: 98vw;
    min-height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}