.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: end;
    column-gap: 10px;
    margin-bottom: 10px;

    .header__h1 {
        width: auto;
        font-size: 45px;
    }

    .header__span {
        width: auto;
        font-size: 20px;
        margin-bottom: 1px;
    }
}

@media (width < 850px) {
    .header__h1 {
        font-size: 35px !important;
    }

    .header__span {
        font-size: 15px !important;
    }
}